<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameGuessr</title>
</head>
<body>
    <h1><%= gameName %></h1>
    <img src="<%= gameImageURL %>" alt="Game cover" width="300">
</body>
</html>